.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ul{
  list-style: none;
  margin: 0;
  padding: auto;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap:32px;
}
